
/* 구글 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

/* 전체 폰트 설정 */
*{
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
}

.navbar-menu-left li {
    font-weight: bolder;
    font-size: 14px;
    color: white;
}

.navbar-menu-right {
    font-weight: bolder;
    font-size: 14px;
    color: white;
}

/*input 입력 시 테두리 스타리*/
.search-bar-input{
    border-radius: 5px;
    border: 2px solid white;
}

.search-bar input {
    font-size: 14px;
    font-weight: bolder;
    color: white;
}

/* input 요소의 플레이스홀더 스타일 */
.search-bar input::placeholder {
    font-size: 14px;
    font-weight: bolder;
    color: white;
}

/* 네비게이션 바 스타일 */
.navbar-wrapper{
    display: flex;
    height: 55px;
}
.navbar-body {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 100%;
    width: 1200px;
    min-width: 750px;
}

.navbar-wrapper{
    background: linear-gradient(90deg, rgb(51, 11, 51), rgb(0, 0, 32));
}

/* 네비게이션 바 내부 요소 스타일 */
.navbar-menu-left,
.navbar-menu-right {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar-menu-left{
    flex-grow: 1;
    margin-right : auto;
    margin-left: 10px;
    padding: 0;
}
.navbar-menu-right{
    margin-left : auto;
}

.navbar-menu-left li,
.navbar-menu-right li {
    margin-right: 30px;
    caret-color: transparent;
}

.navbar-menu-left li,
.navbar-menu-right li:hover{
    cursor: pointer;
}

/* 로고 이미지 스타일 */
.nav-logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-logo img {
    background-color: white;
    border-radius: 90%;
    height: 30px;
    width: 30px;
}

/* 검색 폼 스타일 */
.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    background-color: #11010e;
    border: 2px solid black;
    height: 34px;
}

.search-form{
    margin : 0px;
}

/* 검색 입력 필드 스타일 */
.search-bar > input {
    padding: 5px;
    outline: none;
    width: 90%;
    box-sizing: border-box;
    border: none;
    background-color: #000000;
    caret-color: white;
}
.search-bar i{
    width: 10%;
    box-sizing: border-box;
    border: none;
}
.search-bar-focus{
    border: 2px solid white;
}


/* 드롭다운 메뉴 스타일 */
.dropdown-menu {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: rgb(29, 0, 22);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    border: 1px solid grey;
}

.dropdown-line{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* 드롭다운 메뉴 아이템 스타일 */
.dropdown-menu a {
    display: block;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: white;
}

.dropdown-menu a:hover {
    background-color: rgb(65, 0, 57);
}

/* 드롭다운 메뉴클릭 시 .show 클래스 이름 부여*/
.show {
    display: block;
}