<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">

    <resultMap type="member" id="memberResultMap">
        <id column="USER_NO" property="userNo" />
        <result column="PROFILE_IMG" property="profileImg" />
        <result column="EMAIL" property="email" />
        <result column="USER_PWD" property="userPwd"/>
        <result column="NICKNAME" property="nickName"/>
        <result column="BIRTHDAY" property="birthday"/>
        <result column="GENDER" property="gender"/>
        <result column="PHONE" property="phone" />
        <result column="ENROLL_DATE" property="enrollDate" />
        <result column="MODIFY_DATE" property="modifyDate" />
        <result column="STATUS" property="status" />
    </resultMap>

    <resultMap type="subscribe" id="subscribeResltMap">
        <result column="USER_NO" property="userNo" />
        <result column="GAME_NO" property="gameNo" />
        <result column="SUB_NO" property="subNo"/>
    </resultMap>
    <!--회원가입-->
    <select id="memberEnrollEnd" parameterType="member">
        INSERT INTO MEMBER(
                            USER_NO,
                            EMAIL,
                            USER_PWD,
                            NICKNAME,
                            BIRTHDAY,
                            GENDER,
                            PHONE
                            )
                    VALUES(
                            UNO_SEQ.NEXTVAL,
                            #{email},
                            #{userPwd},
                            #{nickName},
                            #{birthday},
                            #{gender},
                            #{phone}
                            )
    </select>
    <!--로그인-->
    <select id="memberLogin" parameterType="member" resultMap="memberResultMap">
        SELECT * FROM MEMBER
                WHERE EMAIL = #{email} AND USER_PWD = #{userPwd}
    </select>
    <!--구독채널 리스트-->
    <select id="memberSubList" parameterType="member" resultMap="subscribeResltMap">
        SELECT * FROM SUBSCRIBE
                WHERE USER_NO = #{userNo}
    </select>

</mapper>